body{
	background-color: cyan;
		margin-left:-7px;
	margin-bottom: 7px;  
	height: 100%;
	width: 100%;
	background:rgba(0,0,10,0.7);
}
.h{
	background-color: #A9A9A9;
	margin-top: -20px;
	line-height: 280%;
	height: 50px;
	margin-right: -8px; 
	margin-left:-8px;
}
 
.kotak{
	width: 700px;
	background: white;
	margin: 80px auto;
	padding: 100px 100px;
	box-shadow: 0px 0px 4px 4px black;

}